@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Lobster&display=swap');

/* <---------NAV-BAR--------->*/

.padding-y-md { 
        padding: 0 1em;
}
.home{
        background-image: url(/img/background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
}
.logo img{
        width: 70px;
}
.mgra img{
        width: 50px;
}
.logo{
        padding-left: 20px;
}

.navbar{
        transition: 0,7s;
}
/* efecto scroll */

.navbar.abajo{
        background-color: white;
        position: fixed;
        width: 100%;
        z-index: 10;
}
.animation::after{
        content: '';
        height: 4px;
        width: 100%;
        background: var(--brown);
        transition: 0.4s ease-in-out;
    }
.animation:hover::after{
        width: 100%;
    }
.navbar.abajo .navbar-collapse li a{
        color: var(--brown);
}

.name{
        font-family: 'Lobster';
}
.title-home{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 100px;
        font-weight: 900;
}

